<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.diagnosis.ReverseProxySetupMonitor</string>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>1.631</version>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:camelcase-developers</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:camelcase-developers</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:camelcase-developers</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:camelcase-developers</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:camelcase-developers</permission>
    <permission>hudson.model.Computer.Build:camelcase-developers</permission>
    <permission>hudson.model.Computer.Configure:camelcase-developers</permission>
    <permission>hudson.model.Computer.Configure:zhibek</permission>
    <permission>hudson.model.Computer.Configure:zhibekdev</permission>
    <permission>hudson.model.Computer.Connect:camelcase-developers</permission>
    <permission>hudson.model.Computer.Connect:zhibek</permission>
    <permission>hudson.model.Computer.Connect:zhibekdev</permission>
    <permission>hudson.model.Computer.Create:camelcase-developers</permission>
    <permission>hudson.model.Computer.Create:zhibek</permission>
    <permission>hudson.model.Computer.Create:zhibekdev</permission>
    <permission>hudson.model.Computer.Delete:camelcase-developers</permission>
    <permission>hudson.model.Computer.Delete:zhibek</permission>
    <permission>hudson.model.Computer.Delete:zhibekdev</permission>
    <permission>hudson.model.Computer.Disconnect:camelcase-developers</permission>
    <permission>hudson.model.Computer.Disconnect:zhibek</permission>
    <permission>hudson.model.Computer.Disconnect:zhibekdev</permission>
    <permission>hudson.model.Hudson.Administer:camelcase-developers</permission>
    <permission>hudson.model.Hudson.Administer:zhibek</permission>
    <permission>hudson.model.Hudson.Administer:zhibekdev</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:camelcase-developers</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:zhibek</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:zhibekdev</permission>
    <permission>hudson.model.Hudson.Read:camelcase-developers</permission>
    <permission>hudson.model.Hudson.Read:essence</permission>
    <permission>hudson.model.Hudson.Read:graymatter</permission>
    <permission>hudson.model.Hudson.Read:ushahidi</permission>
    <permission>hudson.model.Hudson.Read:zhibek</permission>
    <permission>hudson.model.Hudson.Read:zhibekdev</permission>
    <permission>hudson.model.Hudson.RunScripts:camelcase-developers</permission>
    <permission>hudson.model.Hudson.RunScripts:zhibek</permission>
    <permission>hudson.model.Hudson.RunScripts:zhibekdev</permission>
    <permission>hudson.model.Hudson.UploadPlugins:camelcase-developers</permission>
    <permission>hudson.model.Hudson.UploadPlugins:zhibek</permission>
    <permission>hudson.model.Hudson.UploadPlugins:zhibekdev</permission>
    <permission>hudson.model.Item.Build:camelcase-developers</permission>
    <permission>hudson.model.Item.Build:zhibek</permission>
    <permission>hudson.model.Item.Build:zhibekdev</permission>
    <permission>hudson.model.Item.Cancel:camelcase-developers</permission>
    <permission>hudson.model.Item.Cancel:zhibek</permission>
    <permission>hudson.model.Item.Cancel:zhibekdev</permission>
    <permission>hudson.model.Item.Configure:camelcase-developers</permission>
    <permission>hudson.model.Item.Configure:zhibek</permission>
    <permission>hudson.model.Item.Configure:zhibekdev</permission>
    <permission>hudson.model.Item.Create:camelcase-developers</permission>
    <permission>hudson.model.Item.Create:zhibek</permission>
    <permission>hudson.model.Item.Create:zhibekdev</permission>
    <permission>hudson.model.Item.Delete:camelcase-developers</permission>
    <permission>hudson.model.Item.Delete:zhibek</permission>
    <permission>hudson.model.Item.Delete:zhibekdev</permission>
    <permission>hudson.model.Item.Discover:camelcase-developers</permission>
    <permission>hudson.model.Item.Discover:zhibek</permission>
    <permission>hudson.model.Item.Discover:zhibekdev</permission>
    <permission>hudson.model.Item.Read:camelcase-developers</permission>
    <permission>hudson.model.Item.Read:zhibek</permission>
    <permission>hudson.model.Item.Read:zhibekdev</permission>
    <permission>hudson.model.Item.Workspace:camelcase-developers</permission>
    <permission>hudson.model.Item.Workspace:zhibek</permission>
    <permission>hudson.model.Item.Workspace:zhibekdev</permission>
    <permission>hudson.model.Run.Delete:camelcase-developers</permission>
    <permission>hudson.model.Run.Delete:zhibek</permission>
    <permission>hudson.model.Run.Delete:zhibekdev</permission>
    <permission>hudson.model.Run.Update:camelcase-developers</permission>
    <permission>hudson.model.Run.Update:zhibek</permission>
    <permission>hudson.model.Run.Update:zhibekdev</permission>
    <permission>hudson.model.View.Configure:camelcase-developers</permission>
    <permission>hudson.model.View.Configure:zhibek</permission>
    <permission>hudson.model.View.Configure:zhibekdev</permission>
    <permission>hudson.model.View.Create:camelcase-developers</permission>
    <permission>hudson.model.View.Create:zhibek</permission>
    <permission>hudson.model.View.Create:zhibekdev</permission>
    <permission>hudson.model.View.Delete:camelcase-developers</permission>
    <permission>hudson.model.View.Delete:zhibek</permission>
    <permission>hudson.model.View.Delete:zhibekdev</permission>
    <permission>hudson.model.View.Read:camelcase-developers</permission>
    <permission>hudson.model.View.Read:essence</permission>
    <permission>hudson.model.View.Read:graymatter</permission>
    <permission>hudson.model.View.Read:ushahidi</permission>
    <permission>hudson.model.View.Read:zhibek</permission>
    <permission>hudson.model.View.Read:zhibekdev</permission>
    <permission>hudson.scm.SCM.Tag:camelcase-developers</permission>
    <permission>hudson.scm.SCM.Tag:zhibek</permission>
    <permission>hudson.scm.SCM.Tag:zhibekdev</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>3</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.6">
      <owner class="hudson" reference="../../.."/>
      <name>DashboardTest</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Tee-Shop</string>
      </jobNames>
      <jobFilters/>
      <columns/>
      <recurse>false</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets/>
      <rightPortlets/>
      <topPortlets>
        <hudson.plugins.view.dashboard.core.IframePortlet>
          <id>dashboard_portlet_13068</id>
          <name>Iframe Portlet</name>
          <iframeSource>http://zhibek.com/ci.html</iframeSource>
          <effectiveUrl>http://zhibek.com/ci.html</effectiveUrl>
          <divStyle>width:100%;height:100%;</divStyle>
        </hudson.plugins.view.dashboard.core.IframePortlet>
      </topPortlets>
      <bottomPortlets/>
    </hudson.plugins.view.dashboard.Dashboard>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>