<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description> </description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.12">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:zhibek/tee-shop.git</url>
        <credentialsId>d3aaa78c-2433-4c62-94c1-78b496a10d7a</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.13.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>PATH=$PATH:/usr/local/bin
VHOST=/var/www/vhosts/teeshop-dev.zhibek.com

# Sync latest git to vhost directory
rsync -r --delete . $VHOST

# Drop existing DB (if it exists) &amp; create new DB
mysql -uroot -e &quot;DROP DATABASE \`tee-shop\`&quot; || true
mysql -uroot -e &quot;CREATE DATABASE \`tee-shop\`&quot;


# Composer install
cd $VHOST

# Set dev.install.xml to be active
rm magento/app/etc/install.xml 
mv magento/app/etc/dev.install.xml magento/app/etc/install.xml

# Install &amp; migrate
./deploy.sh


# Clean up old Selenium processes
pkill -f selenium-server 2&gt;&amp;1 || true
pkill Xvfb 2&gt;&amp;1 || true

# Delete old test xml files
 rm -f TEST-*.xml

# Run Selenium Server
 DISPLAY=:1 xvfb-run java -jar /var/www/vhosts/teeshop-dev.zhibek.com/selenium/selenium-server.jar &amp;

# Run behat tests
./vendor/behat/behat/bin/behat --format junit --out ./ 
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.2-beta-4">
      <testResults>/var/www/vhosts/teeshop-dev.zhibek.com/TEST-*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
    <com.cloudbees.jenkins.GitHubCommitNotifier plugin="github@1.13.3">
      <resultOnFailure>FAILURE</resultOnFailure>
    </com.cloudbees.jenkins.GitHubCommitNotifier>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>